<header>
    <section class="container">
        <div class="header-div-one">
            <div>
                <a href="/" class="logo">WineOn</a>
            </div>
            <figure class="product-cart">
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a> 
            </figure>
            <figure class="burger">
                <i class="fas fa-bars"></i> 
            </figure>
            <div>
                <a href="/login">
                    <button class="login-button">INGRESAR</button>
                </a>
            </div>
        </div>
        <div class="header-div-two">
            <form action="">
                <input class="header-input" type="text" name="" id="" placeholder="¿Qué estás buscando?">
                <i id="posicion-i" class="fas fa-search"></i>
            </form>
        </div>
        <nav class="nav-bar"> 
            <a href="/">INICIO</a></li>
            <a href="/productos">PRODUCTOS</a></li>
            <a href="#">VINO TINTO</a></li>
            <a href="#">VINO BLANCO</a></li>
            <a href="#">CONTACTO</a></li>
            <a href="#">NOSOTROS</a></li>
        </nav>
    </section>
</header>