<header>
    <div class="header-div-one">
        <figure class="image">
            <a href="/home">WineOn</a> 
        </figure>
        <figure class="product-cart">
            <a href="/views/productCart.html"><i class="fas fa-shopping-cart"></i></a> 
        </figure>
        <figure class="burger">
            <i class="fas fa-bars"></i> 
        </figure>
    </div>
    <div class="header-div-two">
        <form action="">
            <input type="text" name="" id="" placeholder="¿Qué estás buscando?">
            <i class="fas fa-search"></i>
        </form>
    </div>
    <nav class="nav-bar">
        <ul>
            <li class="nav-bar-sub"><a href="#">VINO TINTO</a></li>
            <li class="nav-bar-sub"><a href="#">VINO BLANCO</a></li>
            <li class="nav-bar-sub"><a href="#">ESPUMANTES</a></li>
            <li class="nav-bar-sub"><a href="#">WHISKYS</a></li>
            <li class="nav-bar-sub"><a href="#">ESPIRITUOSAS</a></li>
            <li class="nav-bar-sub"><a href="#">CERVEZAS</a></li>
        </ul>
    </nav>
</header>