<header>
    <section class="container">
        <div class="header-div-one">
            <div>
                <a href="/" class="logo">WineOn</a>
            </div>
            <figure class="product-cart">
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a> 
            </figure>
            <figure class="burger">
                <i class="fas fa-bars"></i> 
            </figure>
            <% if (locals.estaLogueado) { %>
            <div>
                <a href="/user/profile">
                    <button class="login-button">Hola <%= locals.usuarioLogueado.first_name %></button>
                </a>
                <a href="/user/logout">salir</a>
            </div>    
              
            <% } else {%>
           <div>
                <a href="/user/login">
                    <button class="login-button">INGRESAR</button>
                </a>
            </div>
        <% } %>

          
        
        </div>
        <div class="header-div-two">
            <form action="">
                <input class="header-input" type="search" name="buscador" id="" placeholder="¿Qué estás buscando?">
                
                <button id="posicion-btn" type="submit"><i id="posicion-i" class="fas fa-search"></i></button>
            </form>
        </div>
        <nav class="nav-bar"> 
            <a href="/">INICIO</a></li>
            <a href="/productos">PRODUCTOS</a></li>
            <a href="#">VINO TINTO</a></li>
            <a href="#">VINO BLANCO</a></li>
            <a href="/contacto">CONTACTO</a></li>
            <a href="/nosotros">NOSOTROS</a></li>
        </nav>
    </section>
</header>