<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/style_editProduct.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>

    <%- include ("./partials/header") %>

    <main>
        <div id="edicion">
            <div>
                <h2 id="h2">Producto a editar: <%= producto.name %></h2>
            </div>
            <form action="/registro" method="POST">
                
                <br/>

                <div class="form1-div">
                    <p>Descripción</p>
                    <textarea class="main-input" type="text" id="description" name="description" required> </textarea>
                </div>
    
                <div class="form1-div">
                    <p>Categoría</p>
                    <input class="main-input" type="text" name="category"  required>
                </div>
                
                <div class="form1-div">
                    <p>Bodega</p>
                    <input class="main-input" type="text" name="price"  required>
                </div>
    
                <div class="form1-div"> 
                    <p>Variedad</p>
                    <input class="main-input" type="text" name="variety"  required>
                </div>
    
                <div class="form1-div"> 
                    <p>País de origen</p>
                    <input class="main-input" type="text" name="nation"  required>
                </div>
                
                <div class="form1-div"> 
                    <p>Precio de lista</p>
                    <input class="main-input" type="text" name="price"  required>
                </div>
    
            </form>
            
            <form action="/productos?_method=PUT" method="POST">
                <button class="main-button" type="submit" value="EDITAR" style=cursor:pointer>Editar</button>
            </form>
            </div>
    </main>

    <%- include ("./partials/footer") %>

</body>
</html>