<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style_finalizadoCompra.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?  family=Open+Sans&family=Roboto&display=swap"  rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-div-one">
            <figure class="image">
                <a href="/home"><img src="/images/WineOn.png"   alt="logo-wineon"></a> 
            </figure>
            <figure class="product-cart">
                <a href="/views/productCart.html"><i class="fas fa-shopping-cart"></i></a> 
            </figure>
            <figure class="burger">
                <i class="fas fa-bars"></i> 
            </figure>
        </div>
        <div class="header-div-two">
            <form action="">
                <input type="text" name="" id="" placeholder="¿Qué estás buscando?">
                <i class="fas fa-search"></i>
            </form>
        </div>
        <nav class="nav-bar">
            <ul>
                <li class="nav-bar-sub"><a href="#">VINO TINTO</a></li>
                <li class="nav-bar-sub"><a href="#">VINO BLANCO</a></li>
                <li class="nav-bar-sub"><a href="#">ESPUMANTES</a></li>
                <li class="nav-bar-sub"><a href="#">WHISKYS</a></li>
                <li class="nav-bar-sub"><a href="#">ESPIRITUOSAS</a></li>
                <li class="nav-bar-sub"><a href="#">CERVEZAS</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="div-tilde">
            <img src="/images/tilde.png" alt="" class="imagen">
        </div>  
        <div class="div-button">
            <form action="/home" method="GET" class="back-home">
                <button type="submit"   title="back-home"  name="back-home">VOLVER</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="suscription">
            <h3>¡ Suscribite y enterate de las mejores     ofertas !</h3>
            <input type="text" name="" id=""    placeholder="Ingresá tu e-mail">
            <a href="" id="Suscribirse">Suscribirse</a>
        </div>
        <div class="lists"> 
            <ul>
                <li>AYUDA</li>
                <li>Cómo comprar</li>
                <li>Envíos</li>
                <li>Preguntas frecuentes</li>
            </ul>
            <ul>
                <li>MAS INFORMACION</li>
                <li>Nosotros</li>
                <li>Términos y condiciones</li>
                <li>Todas las tarjetas</li>
            </ul>
            <ul>
                <li>CONTACTANOS</li>
                <li>11-6164-2556 (Whatsapp)</li>
                <li>info@wineon.com.ar</li>
                <li>Lunes a Viernes de 10 a 18 hs</li>
            </ul>
            <ul>
                <li>SEGUINOS</li>
                <li>Cómo comprar</li>
                <li>Envíos</li>
                <li>Preguntas frecuentes</li>
             </ul>
        </div>
         <div> 
             <p>Copyright 2021. Wine On. Beber con  moderación. Prohibida la venta a menores de  18 años.</p>  
        </div>
    </footer>

</body>
</html>