<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio de sesión</title>
        <link rel="stylesheet" href="css/style_login.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    </head>
    <body>

        <%- include ("./partials/header") %>

        <main>
            <h1>INGRESAR</h1>
                 <section class= "form">
                    <div class="form-left">
                        <form action="/home" method="POST"  class="login-form">
                            <h2>INGRESÁ CON TU CUENTA</h2>
                                <input class="main-input" id="usuario"     type="email" name="usuario"     placeholder="Ingresá tu e-mail" required>
                                <input class="main-input" id="password"    type="password"    placeholder="Ingresá tu contraseña" name="password"    required>
                                <a href="">¿Olvidaste tu contraseña?</a>
                                <label for="remember-me">
                                <input type="checkbox"  name="remember-me"   value="remember-me">Recordarme
                                </label>
                                <button class="main-button" type="submit"   title="Ingresar"  name="Ingresar" style=cursor:pointer>INGRESÁ</button>
                            </div>
                        </form>
                    </div>
                    <div class=form-right>
                        <form action="/register" method="GET" class="login-create">
                            <h2>SI NO TENES UNA CUENTA, TE INVITAMOS A QUE CREES UNA</h2>
                            <button class="main-button" type="submit"   title="login-create"  name="login-create" style=cursor:pointer>CREAR CUENTA</button>
                        </form>
                    </div>
                </section>
        </main>

        <%- include ("./partials/footer") %>
        
    </body>
</html>

        
        
        

    