<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WineOn</title>
        <link rel="stylesheet" href="/css/style_nosotros.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    </head>
<body>
    <%- include ("./partials/header") %>

    <main>
        <h1>Quienes somos</h1>
        <h3>No es lo que hacemos, es lo que somos...</h1>
        <section>
            <article>
                <img src="\images\pngwing.png" alt="">
            </article>
            <article>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat arcu, egestas blandit mattis id, egestas eu tortor. Nunc fringilla, sapien mollis euismod iaculis, odio tortor suscipit mi, ac congue massa nulla non velit. Aenean quis risus a ante suscipit vulputate sed vel justo. Vestibulum rutrum augue quis libero euismod malesuada. Sed vestibulum, dolor at laoreet eleifend, purus ipsum tincidunt sem, sed porttitor tellus nulla eget diam. Nullam finibus neque et elit venenatis congue. Vestibulum consectetur nisl in luctus convallis. Nam vitae sollicitudin erat.
                    Fusce sit amet dui nec sapien molestie maximus. Curabitur et nibh volutpat, consequat enim eu, gravida velit. Sed semper imperdiet mi, sit amet tincidunt turpis porttitor vitae. Nulla nec iaculis augue. Suspendisse pharetra dictum leo, a ultricies purus commodo ac. Vivamus eleifend sagittis efficitur. Proin rutrum nibh bibendum interdum vestibulum. Ut vulputate scelerisque risus, sed mattis nisl rhoncus at. Curabitur finibus justo a quam hendrerit, vitae dictum augue laoreet. Maecenas feugiat congue orci sed facilisis. Aenean ullamcorper, massa vel malesuada feugiat, eros velit efficitur arcu, sed aliquam ipsum ipsum vel urna. Sed vel nibh cursus, rutrum dolor ac, tristique sapien. Integer id lorem mollis erat pretium laoreet.Fusce sit amet dui nec sapien molestie maximus. Curabitur et nibh volutpat, consequat enim eu, gravida velit. Sed semper imperdiet mi, sit amet tincidunt turpis porttitor vitae. Nulla nec iaculis augue. Suspendisse pharetra dictum leo, a ultricies purus commodo ac. 
                </p>
            </article>
        </section>
        <section>
            <article class="article">
                <img src="" alt="">
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat arcu, egestas blandit mattis id, egestas eu tortor. Nunc fringilla, sapien mollis euismod iaculis, odio tortor suscipit mi, ac congue massa nulla non velit. Aenean quis risus a ante suscipit vulputate sed vel justo. Vestibulum rutrum augue quis libero euismod malesuada. Sed vestibulum, dolor at laoreet eleifend, purus ipsum tincidunt sem, sed porttitor tellus nulla eget diam. Nullam finibus neque et elit venenatis congue. Vestibulum consectetur nisl in luctus convallis. Nam vitae sollicitudin erat.
                </p>
            </article>
            <article class="article">
                <img src="" alt="">
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat arcu, egestas blandit mattis id, egestas eu tortor. Nunc fringilla, sapien mollis euismod iaculis, odio tortor suscipit mi, ac congue massa nulla non velit. Aenean quis risus a ante suscipit vulputate sed vel justo. Vestibulum rutrum augue quis libero euismod malesuada. Sed vestibulum, dolor at laoreet eleifend, purus ipsum tincidunt sem, sed porttitor tellus nulla eget diam. Nullam finibus neque et elit venenatis congue. Vestibulum consectetur nisl in luctus convallis. Nam vitae sollicitudin erat.
                </p>
            </article>
            <article class="article">
                <img src="" alt="">
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat arcu, egestas blandit mattis id, egestas eu tortor. Nunc fringilla, sapien mollis euismod iaculis, odio tortor suscipit mi, ac congue massa nulla non velit. Aenean quis risus a ante suscipit vulputate sed vel justo. Vestibulum rutrum augue quis libero euismod malesuada. Sed vestibulum, dolor at laoreet eleifend, purus ipsum tincidunt sem, sed porttitor tellus nulla eget diam. Nullam finibus neque et elit venenatis congue. Vestibulum consectetur nisl in luctus convallis. Nam vitae sollicitudin erat.
                </p>
            </article>
            <article class="article">
                <img src="" alt="">
                <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat arcu, egestas blandit mattis id, egestas eu tortor. Nunc fringilla, sapien mollis euismod iaculis, odio tortor suscipit mi, ac congue massa nulla non velit. Aenean quis risus a ante suscipit vulputate sed vel justo. Vestibulum rutrum augue quis libero euismod malesuada. Sed vestibulum, dolor at laoreet eleifend, purus ipsum tincidunt sem, sed porttitor tellus nulla eget diam. Nullam finibus neque et elit venenatis congue. Vestibulum consectetur nisl in luctus convallis. Nam vitae sollicitudin erat.
                </p>
            </article>
        </section>

    </main>

    <%- include ("./partials/footer") %>

</body>
</html>