<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WineOn - Gracias por tu compra!</title>
        <link rel="stylesheet" href="css/style_productCart.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>

    <%- include ("./partials/header") %>

    <main>
        <div class="div-tilde">
            <h1>Mi cuenta</h1>
            <img src="/images/tilde.png" alt="" class="imagen">
        </div>  
        <div class="div-button">
            <form action="/" method="GET" class="back-home">
                <button type="submit"   title="back-home"  name="back-home">VOLVER</button>
            </form>
        </div>
    </main>

    <%- include ("./partials/footer") %>

</body>
</html>