<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WineOn - Creá tu cuenta</title>
    <link rel="stylesheet" href="/css/style_register.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    
    <%- include ("./partials/header") %>

    <main>
        <div id="registro">
        <form action="/user/register" method="POST" enctype="multipart/form-data">
            <div>
                <h2 id="h2">Creá tu cuenta</h2>
            </div>
            <br/>
            <div class="form1-div">
                <p>Nombre</p>
                <input class="main-input" type="text" placeholder="Ej.: Martín" name="first_name" required>
            </div>

            <div class="form1-div">
                <p>Apellido</p>
                <input class="main-input" type="text" placeholder="Ej.: Perez" name="last_name" required>
            </div>
           
            <div class="form1-div"> 
                <p>Email</p>
                <input class="main-input" type="email" placeholder="Ej.: tunombre@email.com" name="email" required>
            </div>

            <div class="form1-div"> 
                <p>Fecha de nacimiento</p>
                <input class="main-input" type="date" name="nacimiento">
            </div>
            
            <div class="form1-div">
                <p>Domicilio</p>
                <input class="main-input" type="text" placeholder="Ej.: Av. Independencia 2324" name="domicilio" required>
            </div>

            <div class="form1-div"> 
                <p>Documento de identidad</p>
                <input class="main-input" type="number" placeholder="Ej.: 22333444" name="dni" required>
            </div>
            
            <div class="form1-div">
                <p>Foto de Perfil</p>
                <input class="main-input" type="file" id="imagen" name="imagen">
            </div>

            <div class="form1-div">
                <p>Contraseña</p>
                <input class="main-input" type="password" placeholder ="********" name="contraseña" required> 
            </div>

            <div class="form1-div">
                <p>Confirmá tu contraseña</p>
                <input class="main-input" type="password" placeholder="*********" required>
            </div>
            <button class="main-button" type="submit" value="ENVIAR" style=cursor:pointer>Crear cuenta</button>
        </form>
        </div>
    </main>
    
    <%- include ("./partials/footer") %>

</body>
</html>