html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* seccion HEADER */
header{
    background-color: #E3D4C5;
    padding-bottom: 0.5rem;
}

.header-div-one{
    display:flex;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.image{
    width: 60%;
    text-align: left;
    margin: 0px;
    padding-left: 0.5rem;
}
.product-cart{
    width: 20%;
    margin: 0px;
}
.burger{
    width: 20%;
    margin: 0px;
}

.image img{
    width: 150px;
    margin: 0;
}

.fa-bars {
    border-radius: 10px;
}

.fa-bars, .fa-shopping-cart {
    width: 50px;
    height: 16px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color:#4F1964;
}

.header-div-two{
    text-align: center;
}

.fa-search {
    color:#4F1964;
    font-size: 25px;
}

.nav-bar ul{
    display: none;
}

/* seccion MAIN */
main {
    padding-top: 10px;
}

#Titulo{
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    padding-left: 5px
}

#main {
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sub-main {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.fa-trash{
    border: solid 1px black;
    padding: 1px;
}

.detalles {
    padding-right: 10%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.center-precio{
    margin-left: 11%;
}

.center-cant{
    padding-right: 0%;
    padding-left: 0%;
}

.center-mas{
    margin-left: 20%;
    font-size: 15px;
}

.center-menos {
    margin-right: 21%;
    font-size: 15px;
}

.center-subtotal{
    padding-right: 3%;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    width: 70%;
    margin: 20px auto 0 auto;
  }

#BloqueCompra-padre{
    margin-bottom: 5px;
}

#BloqueCompra-hijo {
    margin-top: 20px;
    border: solid 1px black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
}

#Resumen{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: whitesmoke;
    margin-bottom: 10px;
    font-size: 22px;
    padding-left: 5px;
    padding-bottom: 3px;
}

#subtotal {
    font-family: Arialle;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#precio-subtotal {
    padding-right: 11px;
}

#envio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
}

#total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
}

.finalizar {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boton {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    font-size: 15px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 5px;
}

#novedades {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 10px;
}

#Destacados {
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#conjunto-circle {
    margin-left: 43%;
}

.fa-circle {
    font-size: 10px;
    display: flex;
}

/* seccion FOOTER */

footer{
    background-color: #E3D4C5;
    margin-top: 2.5rem;
}

.suscription{
    text-align: center;
    padding-top: 0.5rem;
}

footer >* ul{
    list-style: none;
    margin-top: 1.5rem;
}

ul > li:first-child{
    font-weight: bold;
}

footer p{
    font-size: 0.5rem;
}

/* QUERIES */


@media (min-width: 375px){
   
    /* HEADER*/
    
    .nav-bar ul{
        display: none;
    }
    
    /* MAIN*/
    .info{
        display: none;
    }
}



@media (min-width: 768px) {

/* HEADER*/
    
.burger{
    display: none;
}

.header-div-one{
    justify-content: space-between;
}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    border: thin white solid;
}
    /* MAIN */
    
    .imagen {
        margin-left: 1%;
    }

    .fa-trash{
        border: solid 1px black;
        padding: 1px;
        margin-right: 2%;
    }

    .center-precio{
        margin-left: 14%;
    }
    
    .center-cant{
        margin-right: 0%;
        margin-left: 0%;
    }
    
    .center-mas{
        margin-left: 27%;
        font-size: 15px;
    }
    
    .center-menos {
        margin-right: 28%;
        font-size: 15px;
    }
    
    .center-subtotal{
        margin-right: 2%;
    }

    .linea {
        width: 62%;
    }

    #BloqueCompra-padre {
        width: 60%;
        margin-left: 20%;
        margin-top: 20px;
    }
    
    #conjunto-circle {
        margin-left: 46.6%;
    }
    
}

@media (min-width: 1024px) {

    /* FOOTER */
    
    .lists{
        display: flex;
        justify-content: center;
        text-align: center;
    }

}