* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* seccion HEADER */
header{
    background-color: #E3D4C5;
    padding: 20px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.fa-bars {
    border-radius: 10px;
    margin-bottom: 15px;
}

.fa-bars, .fa-shopping-cart {
    width: 14px;
    height: 16px;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

#searchForm {
    text-align: center;
    border-radius: 5px; 
    padding-top: 20px;
}

#searchForm input{
    border-color: black;
    border-radius: 10px;
    text-align: center;
}

.fa-search {
    font-size: 17px;
}

/* seccion MAIN */

.imagen{
    margin-top: 20%;
    margin-left: 41%;
    margin-bottom: 10%;
    width: 120px;
    height: 120px;
}

.menu{
    color: white;
    background-color: black;
    margin-left: 37%;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}


/* seccion FOOTER */

footer{
    background-color: #E3D4C5;
    margin-top: 30%;
}

footer p{
    font-size: 10px;
}

footer ul{
    padding-bottom: 15px;
    list-style: none;
}

.Suscripcion{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    border-top: solid 1px #E3D4C5;
    border-bottom: solid 1px black;
    background-color: white;
}

#Suscribirse{
    color:white;
    text-decoration: none;
}

#footer-arriba {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#footer-abajo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}

.input-suscribir {
    height: 30px;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
}

.button-suscribir {
    height: 30px;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
    background-color: #4f1964;
    width: 100px;
}


@media (min-width: 768px) {
    .imagen {
        margin-left: 45%;
    }

    .menu{
        margin-left: 43%;
    }

}

@media (min-width: 1024px) {


}