html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    
}

img{
    width:100%;
}

/* seccion HEADER */
header{
    background-color: #E3D4C5;
    padding-bottom: 0.5rem;
}

.header-div-one{
    display:flex;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.image{
    width: 60%;
    text-align: left;
    margin: 0px;
    padding-left: 0.5rem;
}
.product-cart{
    text-align: right;
    width: 20%;
    margin: 0px;
}
.burger{
    text-align: center;
    width: 20%;
    margin: 0px;
}

.image img{
    width: 150px;
    margin: 0;
}

.fa-bars {
    border-radius: 10px;
}

.fa-bars, .fa-shopping-cart {
    width: 50px;
    height: 16px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color:#4F1964;
}

.header-div-two{
    text-align: center;
}

.fa-search {
    color:#4F1964;
    font-size: 25px;
}

#posicion-i {
    position:relative;
    right: 30px;
    top: 5px;
}

.header-input{
    height: 40px;
    width: 85%;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
    margin-left: 25px;
}

.nav-bar{
    display: none;
}


/* seccion MAIN */
.main-input{
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
}

main{
    text-align: center;
} 

.vip_item {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;

} 

.vip_item img{
    width: 45%;
}


.price{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 300;
    line-height: 1.35;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 5px;
    color:#000050;

}


.detalle_item{
    font-size: 15px;
    padding: 5px;
}


.quantity{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.checkout {
    size: 25px;
    font-family: Arial,sans-serif; 
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}



.cart-button {
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
    background-color: #4f1964;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

.sugerencias{
    padding-top: 35px;

}

.sugerencias img{
    width: 45%;
}

/* seccion FOOTER */

footer{
    background-color: #E3D4C5;
    margin-top: 2.5rem;
}

.suscription{
    text-align: center;
    padding-top: 0.5rem;
}

footer >* ul{
    list-style: none;
    margin-top: 1.5rem;
}

ul > li:first-child{
    font-weight: bold;
}

footer p{
    font-size: 0.5rem;
}

/* QUERIES */

@media (min-width: 375px){
   
    /* HEADER*/
    
    .nav-bar ul{
        display: none;
    }
}

@media (min-width: 768px) {

    /* HEADER*/
        
    .burger{
        display: none;
    }
    
    .header-div-one{
        justify-content: space-between;
    }
    
    .nav-bar ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        border: thin white solid;
    }

}


@media (min-width: 1024px){
    
    /* FOOTER */
    
    .lists{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}