html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/*seccion MAIN*/


main {
    text-align: center;
    
}

.form1-div {
padding: 10px 0px;
}

.main-input{
    height: 30px;
    width: 90%;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
}

#h2{
text-align: center;
}

#registro{
    margin: 50px 10px;
    border-radius: 10px ;
}

.main-button{
    height: 30px;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
    background-color: #4f1964;
    width: 90%;
    color: white;
}

/*seccion FOOTER*/

footer{
    background-color: #E3D4C5;
    margin-top: 2.5rem;
}

.suscription{
    text-align: center;
    padding-top: 0.5rem;
}

footer >* ul{
    list-style: none;
    margin-top: 1.5rem;
}

ul > li:first-child{
    font-weight: bold;
}

footer p{
    font-size: 0.5rem;
}

/* QUERIES */

@media (min-width: 1024px){
    
    /* FOOTER */
    
    .lists{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}