html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
/* seccion HEADER */
header{
    background-color: #E3D4C5;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

img {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

/* seccion MAIN */

main {
    color: #1b262c;
    margin: 0;
    background-color: white;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 0.75rem;
}
main h1{
    text-align: center;
}

section{
    text-align: center;
}

section button[type="submit"]{
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
    background-color: #4f1964;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

section input[type="password"],
section input[type="email"]{
    margin-left: auto;
    margin-right: auto;
}

.login-form > *,
.login-create > *{
    margin-bottom: 1rem;
    display: block;
}

/* seccion FOOTER */

footer{
    background-color: #E3D4C5;
    margin-top: 40px;
}

footer p{
    font-size: 10px;
}

footer ul{
    padding-bottom: 10px;
}

.Suscripcion{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

#Suscribirse{
    color: black;
    text-decoration: none;
}

#footer-arriba {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#footer-abajo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}

@media (min-width: 1024px){
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;;
    }
    
    .form-left,
    .form-right{
        display: flex;
        border: solid thin black;
    }
    
    .login-create button[type="submit"]{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}