html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}



/* seccion HEADER */

header{
    background-color: #E3D4C5;
    padding-bottom: 0.5rem;
}

.header-div-one{
    display:flex;
    align-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.image{
    width: 60%;
    text-align: left;
    margin: 0px;
    padding-left: 0.5rem;
}
.product-cart{
    text-align: right;
    width: 20%;
    margin: 0px;
}
.burger{
    text-align: center;
    width: 20%;
    margin: 0px;
}

.image img{
    width: 150px;
    margin: 0;
}

.fa-bars {
    border-radius: 10px;
}

.fa-bars, .fa-shopping-cart {
    width: 50px;
    height: 16px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color:#4F1964;
}

.header-div-two{
    text-align: center;
}

.fa-search {
    color:#4F1964;
    font-size: 25px;
}

#posicion-i {
    position:relative;
    right: 30px;
    top: 5px;
}

.header-input{
    height: 40px;
    width: 85%;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
    margin-left: 25px;
}

.nav-bar {
    display:none;
}

/* seccion MAIN */
.main-input{
    height: 40px;
    width: 90%;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
}

main {
    padding-top: 10px;
}

.Titulo{
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}

.Titulo span{
    border: solid 3px black;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}



#main {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#main div{
    font-size: 15px;
    font-weight: 700;
}

.sub-main {
    height: 30px;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.fa-trash{
    border: solid 1px black;
    padding: 1px;
    margin-right: 4px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: black;
    color: wheat;
}

.fa-trash:before {
    content: "\f1f8";
    position: relative;
    left: 6px;
    top: 4px;
}

.detalles {
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.center-precio {
    display: flex;
}

.cantidades{
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin-right: 19px;
}

.subtotal-price {
    margin-right: 5px;
}

.linea {
    border-top: 1px solid black;
    width: 70%;
    margin: 3% auto 7% auto;
  }

#BloqueCompra-padre{
    margin-bottom: 5px;
    text-align: center;
}

#BloqueCompra-hijo {
    margin-top: 20px;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
    width: 90%;
}

#Resumen{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: whitesmoke;
    font-size: 22px;
    padding-left: 5px;
    padding-bottom: 3px;
}

#subtotal {
    font-family: Arialle;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

#precio-subtotal {
    padding-right: 11px;
}

#envio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

#total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.finalizar {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boton {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    font-size: 15px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 5px;
}

#novedades {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 20px;
}

#Destacados {
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#conjunto-circle {
    text-align: center;
}

.fa-circle {
    font-size: 10px;
    display: flex;
}

/* seccion FOOTER */

footer{
    background-color: #E3D4C5;
    margin-top: 2.5rem;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}


.suscription{
    text-align: center;
    padding-top: 0.5rem;
}

footer >* ul{
    list-style: none;
    margin-top: 1.5rem;
}

ul > li:first-child{
    font-weight: bold;
}

footer p{
    font-size: 0.5rem;
    margin: inherit;
}



/* QUERIES */

@media (min-width: 375px){
   
    /* HEADER*/
    
    .nav-bar ul{
        display: none;
    }
    
    /* MAIN*/
    .info{
        display: none;
    }


}


@media (min-width: 768px) {

    .burger{
        display: none;
    }

    .header-div-one{
        justify-content: space-between;
    }

    .nav-bar ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        border: thin white solid;
        padding-left: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .imagen {
        margin-left: 1%;
    }

    .fa-trash{
        margin-right: 2%;
    }

    .linea {
        width: 62%;
    }

    #BloqueCompra-padre {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    
}

@media (min-width: 1024px) {

    /* MAIN */

    .agrupar {
        display: flex;
    }

    .article-main {
        width: 90%;
    }

    #BloqueCompra-padre {
        margin: 20px 0px auto 0px;
    }

    /* FOOTER */
    
    .lists{
        display: flex;
        justify-content: center;
        text-align: center;
    }

}