* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* seccion HEADER*/

header{
    background-color: #E3D4C5;
    padding: 20px 10px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.fa-bars {
    border-radius: 10px;
}

.fa-bars, .fa-shopping-cart {
    width: 50px;
    height: 16px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color:#4F1964;
}

#searchForm {
    text-align: center;
    border-radius: 5px; 
    padding-top: 20px;
}

#searchForm input{
    height: 30px;
    width: 85%;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
    
}

.navbar-div{
    display: none;
}

.fa-search {
    color:#4F1964;
    font-size: 25px;
}



nav ul {
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
}

/* seccion MAIN */
main{
    background-color: white;
}

.banner {
    background-color: white;
    border: solid 1px #4F1964;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4 {
    font-size: 20px;
}

.info {
    background-color: #E3D4C5;
    height: 50px;
    border: solid 1px #4F1964;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
}
.info div {
    
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}

/* seccion FOOTER*/

footer{
    background-color: #E3D4C5;
}

footer p{
    font-size: 10px;
}

footer ul{
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    #searchForm{
        padding: 0px;
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 90%;
    }
    #searchForm input{
        width: 400px;
    }

    header i{
        display:none;
    }
    
    .icono-escondido {
        visibility: hidden;
    }

    .navbar {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-end;
        flex-direction: column;
    }
    .navbar-div{
        display: flex;
        
    }
    .navbar-div ul{
        display: flex;
        }

}