html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
*,
*:before,
*:after {
    box-sizing: inherit;
  }

body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    
}

img{
    width: 100%;
}


/* seccion HEADER*/

header{
    background-color: #E3D4C5;
    padding-bottom: 0.5rem;
}

.header-div-one{
    display:flex;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.image{
    width: 60%;
    text-align: left;
    margin: 0px;
    padding-left: 0.5rem;
}
.product-cart{
    width: 20%;
    margin: 0px;
}
.burger{
    width: 20%;
    margin: 0px;
}

.image img{
    width: 150px;
    margin: 0;
}

.fa-bars {
    border-radius: 10px;
}

.fa-bars, .fa-shopping-cart {
    width: 50px;
    height: 16px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color:#4F1964;
}

.header-div-two{
    text-align: center;
}

.fa-search {
    color:#4F1964;
    font-size: 25px;
}

/* seccion MAIN */
main{
    background-color: white;
    padding:0.5rem;
}

section{
    margin: auto;
}

article{
    background-color: #E3D4C5;
    border:thin #4F1964 solid;
    width: 40%;
    text-align: center;
    margin: auto;   

}

article img{
    width: 90%

}

h4 {
    font-size: 1.5rem;
    text-align: center;
}

/* seccion FOOTER*/

footer{
    background-color: #E3D4C5;
    margin-top: 2.5rem;
}

.suscription{
    text-align: center;
    padding-top: 0.5rem;
}

footer >* ul{
    list-style: none;
    margin-top: 1.5rem;
}

footer ul > li:first-child{
    font-weight: bold;
}

footer p{
    font-size: 0.5rem;
}

/* QUERIES*/

@media (min-width: 375px){
   
    /* HEADER*/
    
    .nav-bar ul{
        display: none;
    }
    
    /* MAIN*/
    .info{
        display: none;
    }
}

@media (min-width: 768px) {
   
    /* HEADER*/
    
    .burger{
        display: none;
    }
    
    .header-div-one{
        justify-content: space-between;
    }
    
    .nav-bar ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        border: thin white solid;
    }
    
    /* MAIN*/
    .info {
        background-color: #E3D4C5;
        height: 2rem;
        padding: 1.5rem;
        border: solid 1px #4F1964;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    

}


@media (min-width: 1024px){
    
    /* FOOTER */
    .lists{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}