
main {
    text-align: center;
    
}

.form1-div {
padding: 10px 0px;
}

.main-input{
    height: 30px;
    width: 90%;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
}

#h2{
text-align: center;
}

#registro{
    margin: 50px 10px;
    border-radius: 10px ;
}

.main-button{
    height: 30px;
    border-radius: 5px;
    border:solid  0.5px #E3D4C5;
    background-color: #4f1964;
    width: 90%;
    color: white;
}